<!DOCTYPE html>
<html>
{{>header}}

<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/user">
      <h1>PGEC</h1>
    </a>
  </div>
</nav>
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="text-uppercase">
          <h1>Su cancelación se ha completado con éxito</h1>
        </div>
        <div>
          <p>Se le devolverá el importe del ticket en unos minutos.</p>

          <a href="../user">Volver a la lista de eventos</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{>footer}}
</body>

</html>